:host {
  --h1-font-size: 5rem;
  --h3-font-size: 2.2rem;
  --p-font-size: 2.1rem;
  --color-bg: rgb(200, 200, 200);
  --color-text: rgb(150, 150, 150);
  display: block;
  width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  color: var(--color-text);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  letter-spacing: 1.8px;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: 600;
}

h3 {
  font-size: var(--h3-font-size);
}

p {
  font-size: var(--p-font-size);
}

.header,
.intro,
.footer {
  background-color: var(--color-bg);
}

.container {
  padding: 0 118px;
  width: 100%;
  max-width: 1280px;
}

.header__container,
.footer__container,
.intro__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__container {
  align-items: center;
  height: 136px;
}

nav {
  font-size: var(--p-font-size);
  width: 410px;
  display: flex;
  justify-content: space-between;
}

.intro__container {
  min-height: 488px;
  padding-top: 76px;
  line-height: 1.24;
}

.intro__content {
  width: 33%;
}

.intro__text {
  margin-top: 12px;
}

.intro__media {
  background-color: rgb(120, 120, 120);
  width: 616px;
  height: 326px;
}

.dots-nav__container {
  display: flex;
}

.dots-nav__list {
  height: 108px;
  width: 194px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dots-nav__dot {
  background-color: var(--color-bg);
  border-radius: 100%;
  width: 28px;
  aspect-ratio: 1/1;
}

.services__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 84px;
  padding-top: 40px;
}

.service-card {
  font-size: var(--h3-font-size);
  width: 292px;
  height: 220px;
  background-color: var(--color-bg);
  display: flex;
  padding: 22px;
}

.card1 {
  align-items: center;
  justify-content: center;
}

.card2 {
  align-items: end;
  justify-content: center;
}

.card3 {
  align-items: start;
  justify-content: center;
}

.card4 {
  align-items: center;
  justify-content: start;
}

.card5 {
  align-items: center;
  justify-content: end;
}

.card6 {
  align-items: start;
  justify-content: end;
  padding: 0;
}

.twitter-feed__container {
  padding-top: 88px;
}

.twitter-feed__field {
  font-size: var(--h3-font-size);
  background-color: var(--color-bg);
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  padding-left: 22px;
}

.footer__container {
  align-items: center;
  height: 126px;
  margin-top: 104px;
}
